In [30]:
import pandas as pd

In [31]:
years = []
for i in range(2000, 2023):
    years.append(str(i))

In [32]:
wins = pd.read_html("https://www.baseball-reference.com/leagues/majors/index.shtml")[0]

# removing rows where year is year (these were serving as headers)

wins = wins[wins["Year"] != "Year"]

wins["Year"] = wins["Year"].astype(int)

wins = wins[wins["Year"] >= 2000]

wins = wins.dropna(axis= 1)

In [33]:
wins

,Year,G,ARI,ATL,BAL,BOS,CHC,CHW,CIN,CLE,...,PHI,PIT,SDP,SFG,SEA,STL,TBR,TEX,TOR,WSN
0,2022,162,74,101,83,78,74,81,62,92,...,87,62,89,81,90,93,86,68,92,55
1,2021,162,52,88,52,92,71,93,83,80,...,82,61,79,107,90,90,100,60,91,65
2,2020,60,25,35,25,24,34,35,31,35,...,28,19,37,29,27,30,40,22,32,26
3,2019,162,85,97,54,84,84,72,75,93,...,81,69,70,77,68,91,96,78,67,93
4,2018,163,82,90,47,108,95,62,67,91,...,80,82,66,73,89,88,90,67,73,82
5,2017,162,93,72,75,93,92,67,68,102,...,66,75,71,64,78,83,80,78,76,97
6,2016,162,69,68,89,93,103,78,68,94,...,71,78,68,87,86,86,68,95,89,95
7,2015,162,79,67,81,78,97,76,64,81,...,63,98,74,84,76,100,80,88,93,83
8,2014,162,64,79,96,71,73,73,76,85,...,73,88,77,88,87,90,77,67,83,96
9,2013,163,81,96,85,97,66,63,90,92,...,73,94,76,76,71,97,92,91,74,86
10,2012,162,81,94,93,69,61,85,97,68,...,81,79,76,94,75,88,90,93,73,98
11,2011,162,94,89,69,90,71,79,79,80,...,102,72,71,86,67,90,91,96,81,80
12,2010,162,65,91,66,89,75,88,91,69,...,97,57,90,92,61,86,96,90,85,69
13,2009,163,70,86,64,95,83,79,78,65,...,93,62,75,88,85,91,84,87,75,59
14,2008,163,82,72,68,95,97,89,74,81,...,92,67,63,72,61,86,97,79,86,59
15,2007,163,90,84,69,96,85,72,72,96,...,89,68,89,71,88,78,66,75,83,73
16,2006,162,76,79,70,86,66,90,80,78,...,85,67,88,76,78,83,61,80,87,71
17,2005,162,77,90,74,95,79,99,73,93,...,88,67,82,75,69,100,67,79,80,81
18,2004,162,51,96,78,98,89,83,76,80,...,86,72,87,91,63,105,70,89,67,67
19,2003,162,84,101,71,95,88,86,69,68,...,86,75,64,100,93,85,63,71,86,83
20,2002,162,98,101,67,93,67,81,78,74,...,80,72,66,95,93,97,55,72,78,83
21,2001,162,92,88,63,82,88,83,66,91,...,86,62,79,90,116,93,62,73,80,68
22,2000,162,85,95,74,85,65,95,85,90,...,65,69,76,97,91,95,69,71,83,67

In [34]:
stats = {}

string = "FanGraphs Leaderboard - "

for year in years:

    curr_str = "/Users/jwall567/Desktop/DS3000-BB/fangraphs/" + string + year + ".csv"
    curr_df = pd.read_csv(curr_str)
    stats[year] = curr_df

In [42]:
salaries = {}

string = "MLB-Salaries 2000-22 -"
for year in years:
    curr_str = "/Users/jwall567/Desktop/DS3000-BB/salaries/" + string + " " + year + ".xls.csv"
    curr_df = pd.read_csv(curr_str, header = 1)
    salaries[year] = curr_df

In [36]:
payroll_list = pd.read_html("http://www.stevetheump.com/Payrolls.htm", header = 0)


years = []
for i in range(2000, 2023):
    years.append(str(i))

years.reverse()

In [37]:
payroll = {}

for i in range(len(years)):
    payroll[years[i]] = payroll_list[i+1].dropna(axis = 0)

**Cleaning Salaries**

In [58]:
def uncomma(str_):
    string = str_.split(",")
    
    string = string[1][1:] + " " + string[0]
    
    return string

In [59]:
for year in years:
    new_df = salaries[year]
    new_df["Name"] = new_df["Player"].apply(uncomma)

IndexError: list index out of range

        Player Pos'n   MLS         2020         Name
0  Trout, Mike    cf  8.07  $38,500,000   Mike Trout